registry=https://mirrors.cloud.tencent.com/npm/
public-hoist-pattern[]=lefthook
public-hoist-pattern[]=eslint
public-hoist-pattern[]=oxfmt
public-hoist-pattern[]=oxlint
public-hoist-pattern[]=stylelint
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=czg

strict-peer-dependencies=false
auto-install-peers=true
dedupe-peer-dependents=true
manage-package-manager-versions=false
package-manager-strict=false
network-concurrency=1
fetch-retries=5
fetch-timeout=120000
